/*rem and em do not depend on html font size in media queries
Instead, 1rem = 1em = 16px*/

/**********************************/
/* BELOW 1344px (Smaller desktops) */
/*********************************/
@media (max-width: 84rem) {
  .marquee-content h1 {
    font-size: 38rem;
  }
  .overlay h3 {
    text-align: center;
  }
}

/**********************************/
/* BELOW 1200px (Landscape Tablets) */
/*********************************/
@media (max-width: 75em) {
  .contact-wrapper {
    padding: 0 1.2rem;
  }
  .contact-header {
    font-size: 12.8;
  }
}

/**********************************/
/* BELOW 944px (Portrait Tablets) */
/*********************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .marquee-content h1 {
    font-size: 28rem;
  }
  .overlay h3 {
    text-align: center;
  }
  .contact-header {
    font-size: 8.6rem;
  }
}

/**********************************/
/* BELOW 704px (Smaller Tablets) */
/*********************************/
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
  .hero-text {
    font-size: 1.2rem;
  }
  .marquee-content h1 {
    font-size: 18rem;
  }
  .hero-cta {
    font-size: 1.2rem;
    padding: 1rem 0.8rem;
  }
}

/**********************************/
/* BELOW 544px (Phones) */
/*********************************/
@media (max-width: 34rem) {
  .marquee-content h1 {
    font-size: 18rem;
  }
  .abtntt2,
  .abtntt3,
  .abtntt4,
  .abtntt4,
  .abtntt5,
  .abtntt6 {
    font-size: 0;
  }
  .abtnt2 .accordian,
  .abtnt3 .accordian,
  .abtnt4 .accordian,
  .abtnt4 .accordian,
  .abtnt5 .accordian,
  .abtnt6 .accordian {
    font-size: 0;
    width: 0;
    margin: 0;
    border-radius: 0;
    display: hidden;
  }
  .about-name-grid-item {
    height: 0;
    border-radius: 0;
    padding: 0;
  }
  .about-text-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .abtnt1 {
    font-size: 1.4rem;
    line-height: 1;
  }
  .hero-cta {
    font-size: 0.7rem;
    padding: 1rem 0.8rem;
  }
  .contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .contact-img {
    width: 0;
    height: 0;
  }
  .contact-logo {
    font-size: 1.8rem;
  }
  .contact-header {
    font-size: 6.2rem
  }
  .hero-text {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
}
